/* CSS for ProblemComponent */
.problem-container {
  background-color: #e0dbdb;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
}

.problem-container:hover {
  transition: 100ms;
  box-shadow: 8px 5px 1px grey;
}

.problem-id {
  font-size: 18px;
  color: #333;
  margin-right: 100px;
}

.problem-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.problem-link {
  text-decoration: none;
}
